html,body{
     margin:0;
}
.slide-1{
    position:absolute;
    width:100%;
    background: #8FACD9;
    height:700px;
}
.typed{
    width:80%;
    margin-left: 15%;
    margin-top: 25%;
    font-family: sans-serif;
    font-size: 50px;
}

